/* ------- */
/* Font */
/* ------- */
@font-face {
    font-family: 'Saans';
    src: url('../fonts/Saans-TRIAL-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Saans';
    src: url('../fonts/Saans-TRIAL-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Saans';
    src: url('../fonts/Saans-TRIAL-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Saans';
    src: url('../fonts/Saans-TRIAL-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Saans';
    src: url('../fonts/Saans-TRIAL-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Saans';
    src: url('../fonts/Saans-TRIAL-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

/* ------- */
/* Body + HTML */
/* ------- */
html,
body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    scroll-behavior: smooth;
    font-family: 'Saans', sans-serif;
}

/* ------- */
/* Logo */
/* ------- */
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #1E8541;

    font-family: 'Saans', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

/* Logo wrapper */
.logo-img {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
}

/* Default icon */
.logo-icon.default {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

/* Hover icon */
.logo-icon.hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}

.logo:hover .logo-icon.default {
    display: none;
}

.logo:hover .logo-icon.hover {
    display: block;
}


/* ------- */
/* Header */
/* ------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3rem 12rem;
    text-decoration: none;
    background-color: white;

}

/* ------- */
/* Nav Bar */
/* ------- */

.main-nav {
    display: flex;
    gap: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    background-color: #F6F6F6;
}

.nav-toggle {
    display: none;
}

.nav-links {
    display: flex;
    gap: 2rem;
}


nav a {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #1E8541;
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: 9999px;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;

}

nav a:hover {
    background-color: #1E8541;
    color: white;

}

/* Active state */
nav a.active {
    background-color: #1E8541;
    color: white;
    font-weight: 500;

}

/* Focus state */
nav a:focus,
.highlight:focus {
    outline: 2px solid #1E8541;
    outline-offset: 3px;
}

.resume {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #1E8541;
    text-decoration: none;
}

.resume::after {
    content: "→";
    opacity: 0;
    margin-left: 0.2rem;
    transform: translateX(-6px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.resume:hover::after,
.resume:focus-visible::after {
    opacity: 1;
    transform: translateX(0);
}

/* ------- */
/* Home Page */
/* ------- */
/* Intro section */

.intro {
    display: flex;
    padding: 3.5rem 12rem;
    justify-content: space-between;
    align-items: center;
}

.intro-right {
    flex: 0 0 40%;
    display: flex;
    justify-content: flex-end;
}

.introImg {
    width: 80%;
}

/* Left column */
.intro-left h2 {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;

    color: #363636;
    line-height: 1.3;
    width: 100%;
    margin: 0 0 1rem;
}

/* Green highlights */
.highlight {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    font-size: 1.9rem;
    color: #1E8541;
}

/* Small note text */
.note {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #ABABAB;
    width: 85%;
    margin-top: 2rem;
}


/* ------- */
/* Selected Work */
/* ------- */

/* Container */
.selected-work {
    padding: 3.5rem 10rem;
    padding-bottom: 7rem;
}

/* Grid */
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
}

/* Card */
.card {
    background: white;
    border-radius: 1.3rem;
    box-shadow: 0 0px 18px rgba(0, 0, 0, 0.1);
    overflow: visible;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/* Thumb area */
.thumb-link {
    display: block;
    border-radius: 12px;
    overflow: hidden;
}

.thumb {
    width: 100%;
    aspect-ratio: 12/8;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    background: #f6f2ec;

}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
    transition: transform 400ms cubic-bezier(.2, .9, .3, 1);
    display: block;
}


.thumb-link:hover .thumb img,
.thumb-link:focus .thumb img {
    transform: scale(1.12);
}

/* card body */
.card-body .tags {
    display: flex;
    gap: 0.7rem;
    margin-bottom: 0.25rem;
}

.card-body .tags span {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: #E6E6E6;
    color: #363636;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    margin-top: 0.7rem;
}

/* headings */
.card-body h3 {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    margin: 0.7rem 0;
    font-size: 1.5rem;
    color: #363636;
}

.card-body p {
    font-family: 'Saans', sans-serif;
    font-weight: 400;
    margin: 0;
    color: #363636;
    font-size: 1.2rem;
    line-height: 1.4;
}

/* card body */
.background .card-body .tags {
    display: flex;
    gap: 0.7rem;
    margin-bottom: 0.25rem;
}

.background .card-body .tags span {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: #E6E6E6;
    color: #363636;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    margin-top: 0.7rem;
}

/* headings */
.background .card-body h3 {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    margin: 0.7rem 0;
    font-size: 1.5rem;
    color: #363636;
}

.background .thumb {
    width: 100%;
    aspect-ratio: 12/6;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    background: #f6f2ec;

}

.background .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
    transition: transform 400ms cubic-bezier(.2, .9, .3, 1);
    display: block;
}

/* ------- */
/* Sandbox */
/* ------- */
.sandbox-intro {
    padding: 4rem 12rem;
}

.sandbox-intro h3 {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 1.6rem;
    color: #363636;

}

.sandbox-intro h2 {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 1rem;
    color: #363636;
    line-height: 1.3;
    width: 70%;

}

.sandbox-intro .highlight {
    font-family: 'Saans', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #1E8541;

}

.sandbox-work {
    padding: 0rem 10rem;
    padding-bottom: 7rem;
}

.doodle-work {
    padding: 0rem 12rem;
    padding-bottom: 7rem;
}

.doodle-work h2 {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    color: #363636;

}

/* doodle */
.doodle-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: center;
}

.doodle-grid img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
}



/* ------- */
/* Vancouver Aquarium */
/* ------- */
.mobile-only {
    display: none;
}


.case-layout {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 5rem;
    padding: 4rem 6rem;
}

.case-sidebar {

    position: sticky;
    top: 4rem;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.case-sidebar nav {
    background: none;
    padding: 0;
    border-radius: 0;
}

.case-sidebar a {

    background: none;
    padding: 0;
    border-radius: 0;

}

.case-layout p {
    font-family: 'Saans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #363636;
    line-height: 1.3;
    margin: 0;
}

.case-layout h4 {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: #363636;
    margin-bottom: 1rem;
}

.case-sidebar nav a:hover {
    background: none;
    color: #1E8541;
}

.back-link {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #363636;
    text-decoration: none;
}


.case-nav {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.case-nav a {
    font-family: 'Saans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #363636;
    text-decoration: none;
    transition: color 0.3s ease;
}

.case-nav a:hover {
    background: none;
    color: #1E8541;
}

.case-content {
    max-width: 70vw;
    margin-inline: auto;
}

.case-hero {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.hero-img {
    width: 100%;
    border-radius: 1.2rem;
}

.case-hero h1 {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #363636;
    line-height: 1.3;
    margin: 1.2rem 0rem;
}

.case-hero .hero-disclaimer {
    font-family: 'Saans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
    color: #363636;
    margin-top: 1rem;
}

.meta-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 3rem;
    margin: 0rem;
}

.meta-grid p {
    font-family: 'Saans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #363636;
    line-height: 1.3;
    margin: 0;
}

.case-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.case-gallery img {
    width: 100%;
    height: 18rem;
    border-radius: 1.2rem;
    object-fit: cover;
    display: block;
}

.div1 {
    grid-column: span 2 / span 2;
}

.div2 {
    grid-column-start: 3;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
}

.div4 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.background {
    margin-bottom: 8rem;
}

.background h1 {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #363636;
    line-height: 1.3;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.background h3 {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: #216FD2;
    margin-top: 1.5rem;
}

.background h2 {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #363636;
    line-height: 1.3;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.background-boxes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.background-boxes img {
    width: 100%;
    height: auto;
    border: 2px solid #E6E6E6;
}

.background p {
    font-family: 'Saans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #363636;
    line-height: 1.3;
    margin-top: 1rem;
}

.background a {
    font-family: 'Saans', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #216FD2;
    text-decoration: underline;
    text-underline-offset: 0.15rem;
}

.background .highlight {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: #1E8541;
}

.background img {
    width: 100%;
    height: auto;
    border-radius: 1.2rem;
    display: block;
}

/* VA - Content */
.background .tags {
    display: flex;
    gap: 0.7rem;
    margin-bottom: 0.25rem;
}

.background .tags span {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: #1E8541;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 999px;
}

.mission-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.7rem;
}

.mission-boxes,
.background p {
    margin-bottom: 1rem;
}

.mission-boxes span {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;

    background-color: #F8F8F8;
    color: #363636;
    padding: 0.5rem 1.2rem;
    border-radius: 1rem;
    border: 2px solid #E6E6E6;
}

.info-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.info-box {
    background-color: #DDF3FF;
    padding: 2rem;
    border-radius: 1rem;
}

.info-box h2 {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: #229FE2;
    line-height: 1.3;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

#painpoint>.info-box {
    background-color: #FFE7E7;
}

#aquarium>.info-box {
    background-color: #FFE2D0;
}

#painpoint>.info-box h2 {
    color: #FF2525;
}

#aquarium>.info-box h2 {
    color: #F07A29;
}

.user-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.3rem 0rem 0rem 0rem;

    background-color: #F8F8F8;
    border: 2px solid #E6E6E6;
    border-radius: 1.2rem;
    padding: 3.5rem 5rem;
}

.user-box h2 {
    font-family: 'Saans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #363636;
    line-height: 1.3;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.user-box h4 {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.user-box li {
    margin-top: 0.5rem;
}

.user-box ul {
    font-family: 'Saans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #363636;
    line-height: 1.3;
    margin-top: 0.5rem;
    margin-left: -1.2rem;
}

.user-box img {
    width: 40%;
    height: auto;
    display: block;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.workshop-images {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.workshop-images img {
    width: 100%;
    height: auto;
}

.design-focus {
    margin-top: 1.2rem;
    margin-bottom: 0rem;
    background-color: #F8F8F8;
    padding: 2rem 4rem;
    border: 2px solid #E6E6E6;
    border-radius: 1.2rem;

}

.design-focus span {
    color: #1E8541;
}

.case-layout .site-footer {
    padding: 0rem;
    border-top: 2px solid #F1F1F1;
    ;

}

/* Usability Section */

.use-test-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

}

.use-test-boxes img {
    width: 100%;
    height: auto;
    display: block;
}

.use-test-boxes p {
    margin-top: 0rem;
}

.use-test-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flow-video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
}




/* About Page */
.about-page {
    margin-bottom: 7rem;
}

.about {
    padding: 2rem 12rem;
}

.about-icon {
    margin-bottom: 1.5rem;
}

.about-icon img {
    width: 10%;
    height: auto;
    object-fit: cover;
    display: block;

}

.about h2 {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;

    color: #363636;
    margin: 0 0 1rem 0;

}

.about p {
    font-family: 'Saans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #363636;
    line-height: 1.3;
    margin-top: 2rem;

}

.about .highlight {
    font-family: 'Saans', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #1E8541;

}

.about .note {
    color: #ABABAB;
}

.about a {
    font-family: 'Saans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #363636;
    text-decoration: underline;
    text-underline-offset: 0.15rem;
    transition: color 0.3s ease;
}

.about a:hover {
    color: #1E8541;

}

.about h3 {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: #363636;
    margin: 0 0 0.5rem 0;

}

.education-div .detail-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.education-div p {
    font-family: 'Saans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #ABABAB;
    margin: 0;
}

.group {
    margin-top: 0.5rem;

}

.group h3 {
    margin-bottom: 0rem;

}

.education-div {
    margin-top: 2rem;
}

/* Footer */
.site-footer {
    padding: 4rem 12rem 2.5rem;
    border-top: 2px solid #F1F1F1;
    ;

}

.footer-inner {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.footer-right-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
}

.footer-left-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Left column */
.footer-left-group h4 {
    font-family: 'Saans', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.footer-left-group p {
    font-family: 'Saans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #363636;
    margin: 0.3rem 0;
}

.footer-credit {
    margin-top: 1.5rem;
    font-family: 'Saans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #363636;
}

/* Middle + Right */
.footer-middle h5,
.footer-right h5 {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
}

.footer-middle ul,
.footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-middle li,
.footer-right li {
    font-family: 'Saans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.footer-middle a {
    font-family: 'Saans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #1E8541;
    text-decoration: underline;
    text-underline-offset: 0.15rem;
}

.footer-right a {
    font-family: 'Saans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #363636;
    text-decoration: none;
    transition: color 0.3s ease;

}

.footer-right a:hover {
    color: #1E8541;

}

/* Bottom copyright */
.footer-bottom {
    text-align: center;
    margin-top: 4rem;
    font-family: 'Saans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ABABAB;
}






@media (max-width: 30em) {
    body {
        overflow-x: hidden;
    }

    header {
        padding: 2rem 3rem;
    }

    .intro {
        flex-direction: column;
        padding: 2rem 3rem;
        gap: 1.5rem;
    }

    /* Left column */
    .intro-left h2 {
        font-size: 1.2rem;
        width: 90%;
    }

    .about h2 {
        font-size: 1.2rem;
    }

    .highlight {
        font-size: 1.2rem;
    }

    .note,
    .about .note {
        font-size: 0.9rem;
    }

    .intro-right {
        display: none;
    }

    /* Container */
    .selected-work {
        padding: 0rem 3rem;
        margin-bottom: 5rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    /* Card */
    .card {
        background: white;
        border-radius: 1.3rem;
        box-shadow: 0 0px 18px rgba(0, 0, 0, 0.1);
        overflow: visible;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .thumb {
        aspect-ratio: 12/6;
    }

    .card-body .tags span {
        font-size: 0.6rem;
        margin-top: 0.9rem;
        padding: 0.4rem 0.8rem;
    }

    /* headings */
    .card-body h3 {
        margin: 0.5rem 0;
        font-size: 1.2rem;
    }

    .card-body p {
        font-family: 'Saans', sans-serif;
        font-weight: 400;
        margin: 0;
        font-size: 1rem;
        line-height: 1.2;
    }

    .site-footer {
        padding: 4rem 4rem 2.5rem;
        border-top: 2px solid #F1F1F1;
        ;

    }

    .footer-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
    }

    /* Left column */
    .footer-left-group h4 {
        font-size: 1.2rem;
    }

    .footer-right-group {
        flex-direction: column;
        gap: 0rem;
    }

    .footer-left-group p {
        font-size: 0.9rem;
    }

    .footer-inner {
        gap: 0rem;
    }

    .footer-credit {
        font-size: 1.2rem;
    }

    /* Middle + Right */
    .footer-middle h5,
    .footer-right h5 {
        font-size: 1.2rem;
    }

    .footer-middle li,
    .footer-right li {
        font-size: 0.9rem;
    }

    .footer-middle a {
        font-size: 0.9rem;
    }

    .footer-right a {
        font-size: 0.9rem;
    }

    .about {
        padding: 2rem 4rem;
    }

    .about-icon img {
        width: 30%;
        height: auto;
        object-fit: cover;
        display: block;

    }

    .about-page {
        margin-bottom: 3rem;
    }

    .about p {
        font-size: 1rem;
    }

    .about .highlight {
        font-size: 1rem;
    }

    .about a {
        font-size: 1rem;
    }

    .about h3 {
        font-size: 1.1rem;
    }

    .education-div .detail-div {
        flex-direction: column;

    }

    .education-div p {
        font-size: 1rem;
    }

    .education-div {
        margin-top: 1rem;
    }

    /* ------- */
    /* Sandbox */
    /* ------- */
    .sandbox-intro {
        padding: 2rem 4rem;
    }

    .sandbox-intro h3 {
        font-size: 1.2rem;
    }

    .sandbox-intro .highlight {
        font-size: 1.2rem;
    }

    .sandbox-intro h2 {
        font-size: 1.3rem;
        width: 100%;

    }

    .doodle-work {
        padding: 0rem 4rem;
        padding-bottom: 7rem;
    }

    .doodle-work h2 {
        font-size: 1.2rem;

    }

    /* doodle */
    .doodle-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.7rem;
    }

    .doodle-grid img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 12px;
    }

    .case-sidebar {
        display: none;
    }

    .case-layout {
        grid-template-columns: 1fr;
        /* single column layout */
        gap: 2rem;
        padding: 2rem 4rem;
    }

    .hero-img {
        width: 100%;
        height: 10rem;
        border-radius: 1rem;
        object-fit: cover;
        display: block;
    }

    .case-hero h1 {
        font-size: 1.4rem;

    }

    .meta-grid {
        grid-template-columns: 1fr;
        gap: 0rem;
    }

    .meta-grid p {
        font-size: 1.2rem;
    }

    .case-content {
        font-size: 1rem;
    }

    .case-gallery {
        display: none;
    }

    .background h1 {
        font-size: 1.4rem;
    }

    .background h2 {
        font-size: 1.2rem;
    }

    .background .tags span {
        font-size: 0.8rem;
    }

    .mission-boxes {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.7rem;
    }

    .mission-boxes,
    .background p {
        margin-bottom: 0.8rem;
    }

    .info-boxes {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .user-box {
        display: flex;
        flex-direction: column;
        padding: 2rem 0rem;
    }

    .user-box img {
        display: none !important;
    }

    .user-box h2 {
        font-size: 1.1rem;
    }

    .background .user-box p {
        font-size: 1.1rem;
    }



    .user-box ul {
        font-family: 'Saans', sans-serif;
        font-weight: 400;
        font-size: 1rem;
        color: #363636;
        line-height: 1.3;
        margin-top: 0.5rem;
        margin-left: -1.2rem;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .workshop-images {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .design-focus {
        margin-top: 1.2rem;
        margin-bottom: 0rem;
        background-color: #F8F8F8;
        padding: 2rem 2rem;

    }

    .use-test-boxes {
        gap: 1rem;
    }

    .background {
        margin-bottom: 6rem;
    }


}


@media (max-width: 30em) {
    .main-nav {
        position: relative;
        /* needed for absolute dropdown */
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.5rem;
    }

    .resume-wrapper {
        display: none;
    }

    .resume::after {
    content: none;
}

    .nav-toggle {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        background: none;
        border: none;
        cursor: pointer;
        font-family: 'Saans', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        color: #1E8541;
        z-index: 1000;
        /* make sure button is above links */
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 1rem;
        background: #F6F6F6;
        border-radius: 16px;
        padding: 1rem;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .main-nav.open .nav-links {
        display: flex;
    }

    .chevron {
        transition: transform 0.2s ease;
    }

    .main-nav.open .chevron {
        transform: rotate(180deg);
    }

    .mobile-only {
        display: inline-block;
        background-color: #1E8541;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 100px;
        font-family: 'Saans', sans-serif;
        font-weight: 600;
        cursor: pointer;
        margin-bottom: 0rem;
        width: 30%;
    }

    .mobile-only:hover {
        background-color: #166F35;
        /* slightly darker on hover */
    }
}