/* fonts */


@font-face {
  font-family: 'Gabarito';
}

/* 
@font-face {
  font-family: 'Gabarito';
  src: url('fonts/Gabarito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gabarito';
  src: url('fonts/Gabarito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gabarito';
  src: url('fonts/Gabarito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gabarito';
  src: url('fonts/Gabarito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gabarito';
  src: url('fonts/Gabarito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

*/

html, body {
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
    font-family: 'Gabarito', sans-serif;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* spacing between icon and text */
  text-decoration: none; /* removes underline */
  color: #1E8541;
  font-family: 'Gabarito', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.logo-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%; /* optional, makes it circular */
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7rem;
    padding-left: 7rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: none;

    border-bottom: 3px solid #F2F2F2;
}

/* navigation */

nav {
    display: flex;
    gap: 2rem;
    text-decoration: none;

    /* nav box */
    padding: 0.5rem 1rem;
    border-radius: 100px;
    background-color: #F6F6F6;

}

nav a {
    font-family: 'Gabarito', sans-serif;
    font-weight: 400; 
    font-size: 1.2rem;
    color: #1E8541;
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: 9999px; 
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;

}

nav a:hover{
    background-color: #1E8541;
    color: white;

}

/* Active state */
nav a.active {
    background-color: #1E8541;
    color: white;
    font-weight: 600;

}

/* Focus state */
nav a:focus,
.highlight:focus {
  outline: 2px solid #1E8541;
  outline-offset: 3px;
}

#myHeader {
    font-family: 'Gabarito', sans-serif;
    font-weight: 600; 
    font-size: 1.5rem;
    color: #1E8541;
    text-decoration: none;

}

/* Home page */
.intro {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    margin-top: 5rem;
    padding-right: 7rem;
    padding-left: 7rem;
    padding-bottom: 4rem;
    align-items: start;
    border-bottom: 3px solid #F2F2F2;
}

/* Left column */
.intro-left .greeting {
    font-family: 'Gabarito', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

.intro-left .name {
    font-family: 'Gabarito', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin: 0.5rem 0 0;
}

/* Right column */
.intro-right h2 {
    font-family: 'Gabarito', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    margin: 0 0 1rem;
}

/* Green highlights */
.highlight {
    font-family: 'Gabarito', sans-serif;
    color: #1E8541;
    font-weight: 600;
}

/* Small note text */
.note {    
    display: none;
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #ABABAB;
}

/* Frog Page */

#fly {
  cursor: pointer;
}

.noteFrog {    
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: #ABABAB;
}

@keyframes bounce {
    0%   { transform: scale(1); }
    30%  { transform: scale(1.2); }
    60%  { transform: scale(0.9); }
    100% { transform: scale(1); }
}

#frog.bouncing {
    animation: bounce 0.4s ease;
    transform-origin: center; 
    cursor: pointer;
}

/* About Page */
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 5rem 7rem;
    align-items: center;
    border-bottom: 3px solid #F2F2F2;
}

.about-left {
    display: grid;
    gap: 1rem;
}

.about-left img {
    width: 100%;
    border-radius: 1rem;
}

.about-right h2 {
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.about-right p {
    font-family: 'Gabarito', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 3rem 2rem;
}

footer h3 {
    font-family: 'Gabarito', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #1E8541;
    margin-bottom: 2rem;
}

.footer-links {
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;

    display: flex;
    justify-content: space-around;
    align-items: baseline;    
    gap: 1rem;
    flex-wrap: wrap;
    color: #1E8541;
}

.footer-links a {
    color: #1E8541;
    text-decoration: underline;
}

/* Selected Work */
.section-title {
    font-family: 'Gabarito', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}


/* Container */
.selected-work {
    padding: 2rem 7rem ;
    padding-bottom: 7rem;
    border-bottom: 3px solid #F2F2F2;
}

/* Grid */
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.25rem;
    margin-top: 1.5rem;
}

/* Card */
.card {
    background: white;
    border-radius: 1.3rem;
    box-shadow: 0 0px 18px rgba(0,0,0,0.1);
    overflow: visible; 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

/* Thumb area */
.thumb-link { 
    display: block; 
    border-radius: 12px; 
    overflow: hidden; 
}

.thumb {
    width: 100%;
    aspect-ratio: 4/3; 
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    background: #f6f2ec;

}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
    transition: transform 400ms cubic-bezier(.2,.9,.3,1);
    display: block;
}


.thumb-link:hover .thumb img, .thumb-link:focus .thumb img {
    transform: scale(1.12);
}

/* card body */
.card-body .tags {
    display:flex;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
}
.card-body .tags span {
    font-family: 'Gabarito', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: #1E8541;
    color: white;
    padding:0.5rem 1rem;
    border-radius: 999px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* headings */
.card-body h3 {
    font-family: 'Gabarito', sans-serif;
    font-weight: 600;
    margin: 0.5rem 0;
    font-size: 1.5rem;
}
.card-body p {
    font-family: 'Gabarito', sans-serif;
    font-weight: 400;
    margin: 0;
    color: #ABABAB;
    font-size: 1.2rem;
    line-height: 1.4;
}

/* visualization */
.visualPage {
    padding-right: 7rem;
    padding-left: 7rem;
    padding-bottom: 4rem;
    align-items: start;
    border-bottom: 3px solid #F2F2F2;

}

.barText {
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 0.8rem;
    color: #1E8541;

}

.tooltip {
    position: absolute;
    
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 1.5rem;

    padding: 0.5rem 1.5rem;
    background: #F2F2F2;
    color: #1E8541;
    border: 3px solid #1E8541;
    border-radius: 999px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}


/* responsive */

@media (max-width: 70rem) {
    .intro {
        grid-template-columns: 1fr; /* stack into one column */
        gap: 2rem;
        text-align: left;
        padding-right: 4rem;
        padding-left: 4rem;
    }

    .visualPage {
        padding-right: 4rem;
        padding-left: 4rem;
    }

    .selected-work {
        padding: 2rem 4rem ;
        padding-bottom: 4rem;
    }

    .about {
        padding: 5rem 4rem;
    }

    .intro-right h2{
        font-family: 'Gabarito', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
    }

    .note {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-right: 4rem;
        padding-left: 4rem;
        padding-bottom: 2rem;
        margin-top: 1rem;
        text-decoration: none;

        border-bottom: 3px solid #F2F2F2;
    }

    .about {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .about-left {
        justify-items: center;
    }

    .about-right h2 {
        font-size: 1.6rem;
    }

    .cards { 
        grid-template-columns: 1fr; 
    }

    .card-body .tags span {
        font-size: 0.8rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    footer h3 {
        font-size: 1.5rem;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        padding-right: 2rem;
        padding-left: 2rem;
        justify-content: left;
    }

}








